html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}									


/* main */

#main {
	height: 700px;
	margin: 10px 0 0 20px;
/* 	background-color: #999; */
	font-family:'GentiumAltRegular',Georgia,Times;
	font-size:15px;
	line-height:20px;
}

/* blink*/

#blinkcontainer{
	height: 100%;
	width: 100%;
	text-align:center;
	float:left;
	margin-left: auto;
	margin-right: auto;
}

.blink{
	line-height:100%;
	font-size:304px;
	text-align:center;
	margin: auto;
	text-shadow: #999 2px 2px 2px;
	color: #FAFAFA;
}

.blink span{
	text-align:center;
}

